:root {
    --borderColor: lightseagreen;
    --backColor: #001950;
    --foreColor: #fff;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="button"]{
    color: #fff;
    background-color:darkorange;

    border-radius: 5px;

    padding: 20px;
    margin: 5px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    
    cursor: pointer;
}

input[type="button"]:hover{
    color: darkorange;
    background-color:#001950;
}

#user-container {
    height: auto;

    background-color: var(--backColor);
    color: var(--foreColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;

    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

picture#logo>img {
    margin: 5px auto;
    border-radius: 50%;
    border: 1px solid var(--borderColor);
}

#user-details {
    margin: 0 5px;
    height: 400px;

    display: flex;
    /* Direction and Wrap */
    flex-flow: row wrap;
    justify-content: space-between;
}

#user-details .column {
    border: 1px solid var(--backColor);
    border-radius: 5px;
    margin: 5px;

    flex: 30%;
    min-width: 380px;
    min-height: 400px;
}

#user-data{
    padding: 15px;

    display: flex;
    flex-flow: column wrap;
}

#user-nat{
    padding: 15px;

    display: flex;
    flex-flow: column wrap;
}

picture#flag{
    display: flex;
    justify-content: center;
}

picture#flag>img{
    height: 105px;
    margin: 5px;
}